doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body 
		div.wrapper
			div.content.container
				div.content__article.articleItem.row
					article.articleItem__item.item.col-sm-6.col-md-4.col-lg-3
						h2.item__title Fashion
						+ image("image1.jpg", "image1")
						h3.item__header At vero eos et accusamus et iusto
						p.item__par Odio dignissimos ducimus qui blanditiis praesentium voluptatum.
						a.item__link(href="") Read More
					article.articleItem__item.item.col-sm-6.col-md-4.col-lg-3
						h2.item__title Nature
						+ image("image2.jpg", "image2")
						h3.item__header Deleniti atque corrupti quos
						p.item__par Dolores et quas molestias excepturi sint occaecati cupiditate non provident.
						a.item__link(href="") Read More
					article.articleItem__item.item.col-sm-6.col-md-4.col-lg-3
						h2.item__title Love story
						+ image("image3.jpg", "image3")
						h3.item__header Similique sunt in culpa qui officia 
						p.item__par Deserunt mollitia animi, id est laborum et dolorum fuga.
						a.item__link(href="") Read More
					article.articleItem__item.item.col-sm-6.col-md-4.col-lg-3
						h2.item__title Fine art
						+ image("image4.jpg", "image4")
						h3.item__header Similique sunt in culpa qui officia 
						p.item__par Deserunt mollitia animi, id est laborum et dolorum fuga.
						a.item__link(href="") Read More
